*{
    font-family: AvenirLTPro-Medium, Geneva,Tahoma, sans-serif;
    font-style: "AvenirLTPro-Medium";
    letter-spacing: .5px;
   font-family:  Helvetica Neue, Helvetica, Arial, sans-serif
}

body{
    width: 75%;
    margin: auto;
   
}

#v-head{

line-height: 20px;
font-size: 30px;
color: #585858;
/* width: 60%; */
margin: auto;
font-weight: 300;
font-stretch: extra-expanded;
letter-spacing: 1.5px;
}
#v-head p+p{

    font-size: 18px;
    letter-spacing: 1px;
    color: #999999;
}

#v-main{
    margin-top: 30px;
 /* border: 1px solid blue ; */
 height: 200px;
 display: flex;
 justify-content: space-between;

}
#v-filter{
  
    
    width: 23%;
    /* margin-left: 3%; */

}

#v-filterBy {
    color: #5d5d5d;
    font-style:  "AvenirLTPro-Medium";
    font-family: AvenirLTPro-Medium, Geneva,Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 9%;
    font-stretch: expanded;
}

#v-filterBox{
    margin-top: 15%;
}

#v-right{
   
    height: 30px;
    width: 74%;

}

#v-upper{

    height: 30px;
    display: flex;
    justify-content: space-between;
}



#v-sorting{
    /* border: 1px solid ; */
    height: 30px;
    width: 50%;
    display: flex;
}

 #v-sorting select{
    margin-left: 10px;
    padding: 5px 30px ;
    border-radius: 15px;
    
   
}

select:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color: #efeeee;
}
#v-sorting label{
    margin-top: 1%;
    font-weight: 600;
    font-size: 14px;
    color: 
    #5d5b5b;
    
}

#v-content label {
    padding: 30px;
    padding-right: 10px;
    font-size: 1rem;
    
}
progress{
    margin-top: 3%;
   
    background-color: white;
    width: 100%;
    height: 20px;
    
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
progress::-webkit-progress-value {
    color: white;
    background-color: wheat;
    background-image:
    -webkit-linear-gradient(45deg, 
                            transparent 33%, rgba(0, 0, 0, .1) 33%, 
                            rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top, 
                            rgba(255, 255, 255, .25), 
                            rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, rgb(204, 0, 0), #f44);

 border-radius: 3px; 
 background-size: 35px 20px, 100% 100%, 100% 100%;
 -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
  }
  
  progress::-moz-progress-bar {
   background-color: #efeeee;
  }
  
  @-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }
 
 @keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }

 progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
  }

  progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
  }

 



#v-pagination{
    border: 1px solid ;
    height: 30px;
    width: 20%;
}
/* #v-content{
   /* margin-top: 5%; */
*

 #title{
    font-style:  "AvenirLTPro-Medium";
    font-family: AvenirLTPro-Medium, Geneva,Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 520;
    color:  #9c3353;
    line-height: 32px;
    margin-top: -1%;
    font-stretch: expanded;
}

.v-purposeBox p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color:#999999 ;
    line-height: 16px;
    margin-top: -1%;
    font-stretch: expanded;
}


.v-purposeBox p:nth-child(3), p:nth-child(4){
    font-style:  "AvenirLTPro-Medium";
    font-family: AvenirLTPro-Medium, Geneva,Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #636363;
    line-height: 24px;
    margin-top: -1%;
    font-stretch: expanded;
}
#story_div{
    font-style:  "AvenirLTPro-Medium";
    font-family: AvenirLTPro-Medium, Geneva,Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #636363;
    line-height: 24px;
    margin-top: -1%;
    font-stretch: expanded;
    height: 200px;
    overflow:inherit;
    overflow-wrap: unset;
   

}


#comp {
    /* padding: 20px; */
    width: 100%;
    background-color: white;
     margin-top: 6%;
    padding: 8px 0px;
    border-radius: 30px;
    border: 1px solid #9c3353;
    color: #9c3353;
    font-size: 18px;
    

}
.comp:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#rs {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px soild rgb(102, 101, 101);
    background-color: rgb(243, 241, 241);
    padding: 5px;
    width: 5%;
    height: 25px;
  

    
}

#alert{
    position: absolute;
    left: 500px;
    background-color: #9c3353;
}
.loanCard{
    
    display: flex;
    justify-content: space-between;
    padding: 50px 2px;
    border-bottom:1px solid rgb(231, 229, 229);
}

.v-purposeBox{
    height: 80%;
    overflow:hidden;
    overflow-wrap: initial;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.moneyInput{
   
   border: none;
   border-bottom: 1px solid;
   margin-left: 1%;


}

#lendMoney{
    margin-top: 5%;
    display: flex;
    margin-bottom: 3px;
}

.lendBtn {
   
   padding: 5px 0px;
   padding-top: 5px;
    bottom: -2px;
    background-color: #9c3353;
    color: white;
    border-radius: 20px;
    border: none;
    width: 20%;
    height: 40px;
    font-size: 16px;
}

.collapsible {
    background-color: rgb(249, 249, 249);
    color: rgb(90, 90, 90);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    
    text-align: left;
    outline: none;
    font-size: 15px;
   
    border: 1px solid  rgb(177, 177, 177);
  }
  
  .active, .collapsible:hover {
    
    text-decoration: underline;
  }
  
  .content {
    padding: 3px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 150px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


  #popUpDiv{
    position: fixed;
    left: 1050px;
    top: 100px;
    display: none;
    background-color: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #515050;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    /* padding-bottom: 20px; */

  }
 .basket{
   
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 15px;
    border: none;
    background-color: white;

  }
  .payBtn{

    background-color: #9c3353;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 15px;
    
  }