/* donation  container */
#info_container{

    width: 1180px;
    height: 935px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 80px;

}
#info_container>div{

    padding: 15px;
    line-height: 40px;
    color: #5D5D5D;
    border-radius: 5px;
    box-shadow: #ebd7dd  0px 3px 8px;
}
#info_container>div>img{
    width: 100%;
    object-fit: cover;
}
#info_container>div>div{
    border: 2px solid #9C3353;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.colorZ{
    color: greenyellow;
}

/* noow the last before the footer */

#hell_case_div_seot{
   
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#hell_case_div_seot>div{
    /* border: 1241px;*/
    width: 1041px;
    height: 410px;
    
}
#inner_one{

    display: flex;
    color: #5D5D5D;
    box-shadow: #ebd7dd  0px 3px 8px;
}
#inner_one>div{
    
    margin: auto;
    
}
.in_inner_one{
   
    width: 414px;
    
}
.in_inner_one>img{
    width: 80%;

}
#in_inner_two{
    text-align: center;
}
#in_inner_two>h3{
    font-size: 20px;
    margin-bottom: 10px;
}
#in_inner_two>p{
    font-size: 16px;
    margin-bottom: 20px;
}
#qr_section{
   
    border: 3px solid #9C3353;
    width: 150px;
    height: 150px;
    margin: auto;
}
#qr_section>img{
    width: 100%;
    padding: 10px;
    
}
#leapSpan{
    font-size: 12px;
    margin: 5px 0px;
}
#google_apple{
  
    display: flex;
    justify-content: center;
    
    align-items: center;
}
