#rj_container{
    width: 100%;
    
}
#section__1{
    width: 100%;
}
#rj_container>div{
    border: 2px solid rebeccapurple;
}
#rj_container>div:nth-child(3){
    display: flex;
}
#rj_container>div:nth-child(4)>div{
    display: flex;
}
#rj_container>div:nth-child(4)>div{
    border: 2px solid royalblue;
}
#rj_container>div:nth-child(4)>div>img{
    width: 100px;
    height: 100px;
}