*{
  margin: 0;
  padding: 0;
}
#navbar{
  /* border: 1px solid red; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.step-name{
  padding: 15px 0;
    font-size: 18px;
    font-size: 16px;
  
    color: #282828;
}
.step-name img
{
  margin-left: 5em;
  width: 90px;
  vertical-align: middle;
  display: inline-block;
   
}
.step-name span {
  margin-top: 5px;
  margin-right: 20px;
  vertical-align: middle;
    padding-left: 10px;
    display: inline-block
}
.navbar1{
  margin: 25px;
}
.step-label{
  font-size: 15px;
 margin-right: 100px;
margin-top: 10px;
}
.step-status{
  margin-top: 20px;
}
.current-step{
  
  color: #56bc30;
  cursor: pointer;
  
}
.step-title{
  font-size: 15px;
    color: #282828;
    position: relative;
    border: 1px solid #e0e1e3;
    text-align: center;
    padding: 10px 0;
    background: hsla(210,4%,89%,.2);
    border-radius: 0 0 10px 10px;
    width: 200px;
    margin: 0 auto;
}
#cause-selector {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
#cause-selector label {
  font-size: 15px;
  font-family: AvenirLTPro-Book;
  color:gray;
}
#cause-selector a.cause-types {
  width: 122px;
  font-size: 15px;
}
#cause-selector a.cause-types {
  width: 86px;
  min-height: 24px;
  display: inline-block;
  text-transform: lowercase;
  border-bottom: 1px solid #e0e1e3;
  margin-left: 10px;
  margin-right: 5px;
  padding-bottom: 1px;
  color: #282828;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  text-align: left;
  text-align: center;
}
#buttons{
  /* border: 1px solid red; */
  width: 30%;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,150px);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#buttons .button
{
   padding: 10px  30px 10px 30px;
   background-color: transparent;
   color: #9c3353;
   border: 1px solid gray;
}


#buttons .button:hover,#buttons .button:active{
  background-color: #9c3353;
  cursor: pointer;
  color: white;
}

.input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family:AvenirLTPro-Light;
  font-size: 15px;
  height:0px;
  left: 40%;
  margin: 0 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  bottom:8em;
  width: 40%;
  top: 3rem;
  outline: none;
  display: block;
  gap: 20px;
}
form{
  display: grid;
  gap: 40px;
  margin-bottom: 30%;
}
.step-actions-container {
  padding: 0 50px;
}
.step-actions-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}


.step-actions {
  position: relative;
  width: 60%;
  height: 80px;
  border-radius: 5px;
  margin: 0 auto;
  background-color:#9c3353 ;
  background: -webkit-linear-gradient(0deg,#9c3353,#5f2747);
}
.step-actions img{
  width: 30%;
  height: 30%;
}
.step-actions button
{
  /* border: 1px solid green; */
  margin-left: 50%;
  margin-top: 20px;
  background-color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  border: none;
  color: #9c3353;
  font-weight:500;
  
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: -10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 60%;
  height: 300px;
  margin-left: 20%;
 
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  .head{
    text-align: center;
  }
  .modal-content img{
    width: 3rem;
    height: 3rem;
    margin-left: 18rem;
    margin-top: 30px;
  }
  .head1{
    text-align: center;
    color: gray;
    font-size: 13px;
    margin-top: 18px;
  }
  .otp{
    background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family:AvenirLTPro-Light;
  font-size: 15px;
  height:0px;
  left: 50%;
  margin: 0 0 0 -100px;
  padding: 10px 0px;
  position: relative;
  bottom:8em;
  width: 30%;
  top: 1rem;
  outline: none;
  display: block;
  gap: 20px;
  text-align: center;
  }
  
#btn{
  margin-left: 18rem;
  background-color: #9c3353;
  color: white;
  cursor: pointer;
  margin-top: 28px;
  border: none;
  padding: 8px 10px 8px 10px ;
  border-radius: 15px;
}
#btn:hover{
  background-color: white;
  border: 1px solid #9c3353;
 
  color: #9c3353;
}

.btn-primary,  .btn-primary:hover {
  color: #fff;
  background-color: #9c3353;
 cursor: pointer;
}
.modal-content a{
  color: #9c3353;
  text-align: center;
  margin-top: 20px;
}