*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: AvenirLTPro-Medium, Geneva,Tahoma, sans-serif;
    
}
/* #mil_class_set{
  
} */
#kal_navbar{
  
    width: 100%;
    height: 70px;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    color: whitesmoke;
    
}
#mil_class_set{
    width: 100%;
    height: 70px;
    display: flex;

    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#set_class_inner{
    width: 60%;
    
    height: 70px;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
   
    
}
#navsection_class_set{
    /* height: 70px; */
    width: 70%;
    height: 70px;
    display: flex;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
#img_class_set{
    width: 110px;
    height: 70px;
 
    margin-left: 10px;
}
#profileSet{
    height: 70px;

    margin-right: 10px;
}
#fundReiser{
    
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #9c3353;
    color: #e9a1b7;
}
#img_class_set>img{
    width: 100px;
    height: 60px;
    object-fit: scale-down;
}
#navsection_class_set_feel_1{

    width: 20%;
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;

}
#navsection_class_set{
    font-size: 16px;
}
.op>div>label{
    position: relative;
    left: 30px;
}
.section_one{
    
    background-color: #9c3353;
    color: #e9a1b7;
}
#navsection_class_set_feel_1:hover{
    background-color: whitesmoke;
}
#mil_class_set{
    box-shadow: #f6edf0 0px 3px 8px;
    position: fixed;

}
@import  url(https://fonts.googleapis.com/css?family=Montserrat);


/* body{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: Montserrat;
} */


/*   
.toggle {margin-top: 40px;
  input[type="checkbox"]{
    display: none;
  }
} */
  
  .toggle label{
    color: white;
    position: relative;
  }
  
  .toggle input[type="checkbox"] + label::before{
    content: ' ';
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid ;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: #9c3353;
   
  }
  #profileSet{
    border: 2px solid red;
    width: 20%;
  }
  
  .toggle input[type="checkbox"] + label::after{
    content: ' ';
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid ;   
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -75px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in;
  }
  
  .toggle input[type="checkbox"]:checked + label::after{
    left: -40px; 
    transition: all 0.3s ease-in;
  }
  a:link {
    
   
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    
    text-decoration: none;
  }
  
  a:hover {
 
    
    text-decoration: none;
  }
  
  a:active {
    
   
    text-decoration: underline;
  }